*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid black;
} */

/* 格線系統設定 */
.col-4 {
  --gap: 24px;
  width: calc((100% - var(--gap) * 11) / 12 * 4 + var(--gap) * 3);
}

.col-8 {
  --gap: 24px;
  width: calc((100% - var(--gap) * 11) / 12 * 8 + var(--gap) * 7);
}

a {
  text-decoration: none;
}

.header {
  padding: 12px 0;
}

.logobtn {
  width: 220.49px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navbtn {
  display: flex;
  justify-content: space-between;
}

.navlist,
.cartlogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlist li a {
  padding: 8px 24px;
  color: #3f5d45;
  font-weight: bold;
}

.cartlogo {
  padding-left: 72px;
}

.bi-cart-fill {
  font-size: 24px;
  color: #3f5d45;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.banner img {
  width: 100%;
}

.content {
  display: flex;
}

.content-nav {
  text-align: center;
  font-size: 24px;
  margin-right: 24px;
}

.content-nav-title {
  padding: 16px 0;
  color: #ffffff;
  background: #3f5d45;
  font-weight: bold;
}

.content-nav-list {
  padding: 16px 0;
  font-weight: bold;
}

.content-nav-list a {
  color: #3f5d45;
}

.content-text {
  width: 100%;
  display: flex;
}

.name {
  text-align: center;
  font-size: 20px;
  padding: 14px 0;
  flex:1;
  color: #3f5d45;
  line-height: 1.5;
  border-right: 1px solid #eaf0ed;
}

.price {
  text-align: center;
  font-size: 20px;
  padding:14px 0;
  flex:1;
  font-weight: bold;
  color: #3f5d45;
  line-height: 1.5;
}

.content-cart a {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  background: #eaf0ed;
  line-height: 1.2;
  color: #3f5d45;
  text-align: center;
  padding: 16px 148px;
  display: block;
}

.gap-24 {
  gap: 24px;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.product-list img {
  width: 100%;
}

.small-card {
  position: absolute;
  top: 0px;
  left: 34px;
  background: #3f5d45;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  writing-mode: vertical-rl;
  padding: 13px 10px;
}

.icon {
  position: absolute;
  font-size: 24px;
  top: 24px;
  right: 24px;
}

.product-list li {
  position: relative;
}

.page {
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
}

.pagebtn {
  border: 1px solid #eaf0ed;
}

.pagebtn a {
  padding: 18px 23.3px;
  font-size: 20px;
  display: block;
  color: #3f5d45;
}

.pagebtn a:hover {
  background-color: #3f5d45;
  color: #ffffff;
}
